<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <!-- Just an image -->
    <nav class="navbar navbar-light bg-dark py-5 px-lg-8">
      <a class="navbar-brand" href="#">
        <%= image_tag('isotype.svg', class: 'd-md-none'); %>
        <%= image_tag('logo.svg', class: 'd-none d-md-block'); %>
      </a>
      <form class="form-inline">
        <span class="nav-item">
          <a class="nav-link more-positions" href="#">
            otras vacantes
            <%= image_tag('arrow.svg', class: 'caret-down'); %>
          </a>
        </span>
        <span class="nav-item d-none d-sm-block">
          <button class="btn btn-apply px-5 ml-3" type="submit">aplicar</button>
        </span>
      </form>

    </nav>

    <%= yield %>

    <footer class="px-3 px-lg-8 py-4">
      <div class="row">
        <div class="col-sm-12">
          <p>michelada.io</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <address>
            info@michelada.io
          </address>
        </div>
        <div class="col-sm-5">
          <p>We <a href="https://sipsandbits.com" target="_blank" data-ga-label="blog">blog</a> about things we like.</p>
        </div>
        <div class="col-sm-2 social">
          <ul class='list-unstyled list-inline float-right'>
            <li class="list-inline-item">
              <a href="http://www.twitter.com/micheladaio">
                <%= image_tag('ic-social-twitter.svg'); %>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="http://github.com/michelada">
                <%= image_tag('ic-social-github.svg'); %>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-right">
          <p>
          Copyright © 2018 Michelada, LLC. All rights reserved.
          </p>
        </div>
      </div>
    </footer>
    <button type='button' class='btn btn-apply btn-block d-lg-none p-sticky-bottom' href='#'>aplicar</button>
  </body>
</html>
